In [2]:
import pandas as pd

In [3]:
bikes = pd.read_csv(r'bikes.csv')

In [4]:
bikes

,trip_id,gender,starttime,stoptime,tripduration,from_station_name,dpcapacity_start,to_station_name,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,10.0,17.3,-9999.0,partlycloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50084,17534938,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,27.0,Clark St & Elm St,27.0,5.0,10.0,16.1,-9999.0,partlycloudy
50085,17534969,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),16.0,Union Ave & Root St,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,31.0,Halsted St & Blackhawk St (*),20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50087,17535645,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,23.0,Kingsbury St & Kinzie St,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,15.0,Clifton Ave & Lawrence Ave,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

In [5]:
bikes.head()

,trip_id,gender,starttime,stoptime,tripduration,from_station_name,dpcapacity_start,to_station_name,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [6]:
bikes.tail()

,trip_id,gender,starttime,stoptime,tripduration,from_station_name,dpcapacity_start,to_station_name,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
50084,17534938,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,27.0,Clark St & Elm St,27.0,5.0,10.0,16.1,-9999.0,partlycloudy
50085,17534969,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),16.0,Union Ave & Root St,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,31.0,Halsted St & Blackhawk St (*),20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50087,17535645,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,23.0,Kingsbury St & Kinzie St,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,15.0,Clifton Ave & Lawrence Ave,15.0,10.9,10.0,15.0,-9999.0,partlycloudy